@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --bg-primary: 255, 255, 255;
      --bg-secondary: 245, 246, 247;
      --bg-secondary: 245, 246, 247;
      --bg-tertiary: 220, 220, 238;
  
      --text-primary: 0, 0, 0;
      --text-secondary: 56, 63, 74;
      --text-tertiary: 255, 255, 255;
    }
  
    .dark {
        --bg-primary: 0, 0, 0;
        --bg-secondary: 30, 32, 34;
        --bg-tertiary: 50, 50, 50;
    
        --text-primary: 255, 255, 255;
        --text-secondary: 199, 193, 181;
        --text-tertiary: 0, 0, 0;
    }
  
    .coffee {
      /*
      * update all colors:
      * --bg-primary: ...
      */
    }
  }